:root {
  --custom-why-choose-us-text-font-size-base: 2rem;
  --custom-why-choose-us-text-color: #6B69AE;
  --custom-why-choose-us-text-bg: #FCFAFF;
}

.custom-why-choose-us {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.custom-why-choose-us--top {
  display: flex;
}
.custom-why-choose-us--top-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  flex: 30%;
  min-width: 500px;
}
.custom-why-choose-us--title {
  font-size: 40px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.custom-why-choose-us--top-right-col {
  flex: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  background-color: #A2BECE;
  padding: 30px 50px;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.096);
}
.custom-why-choose-us--top-right-col-text {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 38px;
  max-width: 350px;
  min-width: 300px;
}
.custom-why-choose-us--top-img-wrap  {
  height: 550px;
  max-width: 400px;
  overflow: hidden;
}
.custom-why-choose-us--top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.custom-why-choose-us--bottom {
  display: flex;
}
.custom-why-choose-us--bottom-left-col {
  flex: 30%;
  min-width: 500px;
}
.custom-why-choose-us--bottom-img-wrap  {
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.096);
}
.custom-why-choose-us--bottom-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-why-choose-us--bottom-right-col {
  flex: 70%;
  padding: 30px 50px;
}
.custom-why-choose-us--bottom-right-col-wrap{
  max-width: 533px;
  margin: 30px auto;
}
.custom-why-choose-us--bottom-right-text-wrap{
  margin-bottom: 75px;
}
.custom-why-choose-us--bottom-title {
  margin-top: 0;
  font-size: 45px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}
.custom-why-choose-us--bottom-right-col-text {
  font-size: 24px;
  text-align: center;
}
.custom-why-choose-us--bottom-logo-wrap  {
  display: flex;
  justify-content: flex-end;
}
.custom-why-choose-us--bottom-logo {
  height: 42px;
  width: auto;
}
.custom-why-choose-us--button{
  display: flex;
  justify-content: center;
}

@media (max-width: 1300px) {
  .custom-why-choose-us--top-right-col {
    flex-wrap: wrap;
  }
  .custom-why-choose-us--top-right-col-text {
    max-width: 100%;
  }
  .custom-why-choose-us--top-img-wrap  {  
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 990px) {

  .custom-why-choose-us--top{
    flex-wrap: wrap;
  }
  .custom-why-choose-us--top-left-col{
    flex: 100%;
    min-width: auto;
  }
  .custom-why-choose-us--top-right-col {
    flex: 100%;
  }

  .custom-why-choose-us--bottom{
    flex-wrap: wrap;
  }
  .custom-why-choose-us--bottom-left-col{
    flex: 100%;
    min-width: auto;
  }
  .custom-why-choose-us--bottom-right-col {
    flex: 100%;
    padding: 0 20px 45px;
  }
  .custom-why-choose-us--bottom-img-wrap  {
    min-height: auto;
    height: 400px;
  }
  .custom-why-choose-us--bottom-right-col-wrap{
    max-width: 533px;
    margin: 0 auto 60px;
  }
  .custom-why-choose-us--bottom-right-text-wrap{
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .custom-why-choose-us--top-left-col{
    padding: 20px;
  }
  .custom-why-choose-us--title{
    font-size: 35px;
  }
  .custom-why-choose-us--top-right-col{
    padding: 40px 20px;
    gap: 30px;
  }
  .custom-why-choose-us--top-right-col-text{
    font-size: 24px;
  }

  .custom-why-choose-us--bottom-title{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .custom-why-choose-us--bottom-right-col-text{
    font-size: 22px;
  }
}