:root {
  --custom-hero-height-small: 300px;
  --custom-hero-height-medium: 400px;
  --custom-hero-height-large: 600px;
  --custom-hero-title-font-size-base: 5rem;
  --custom-hero-title-font-size-base-md: 4rem;
  --custom-hero-title-font-size-base-sm: 3rem;
}

.custom-hero {
  min-height: var(--custom-hero-height-small);
  position: relative;
  background-position-y: 0;
  background-position-x: center;
  background-repeat: no-repeat;
}
.custom-hero--video-block{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.custom-hero--video-block video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-hero--content-wrap {
  position: relative;
  display: flex;
  width: 100%;
  gap: 35px;
  z-index: 1;
}
.custom-hero--text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 60%;
  padding: 280px 26px;
  background-color: rgba(var(--color-rgb-clear), 0.7);
}
.custom-hero--custom-hero--text {
  color: var(--color-primary);
}
.custom-hero--button{
  padding-top: 20px;
}

.custom-hero-height--small {
  min-height: var(--custom-hero-height-small);
}
.custom-hero-height--medium {
  min-height: var(--custom-hero-height-medium);
}
.custom-hero-height--large {
  min-height: var(--custom-hero-height-large);
}

/* Offsets */
.custom-hero.margin-top--default {
  margin-block-start: var(--section-margin-block-start);
}
.custom-hero.margin-top--middle {
  margin-block-start: var(--section-margin-block-start-middle);
}
.custom-hero.margin-top--big {
  margin-block-start: var(--section-margin-block-start-big);
}
.custom-hero.margin-bottom--default {
  margin-block-end: var(--section-margin-block-end);
}
.custom-hero.margin-bottom--middle {
  margin-block-end: var(--section-margin-block-end-middle);
}
.custom-hero.margin-bottom--big {
  margin-block-end: var(--section-margin-block-end-big);
}

/* Title */
.custom-hero--title {
  width: 100%;
  color: var(--color-grey-dark);
  font-size: var(--custom-hero-title-font-size-base);
  margin: 0;
}
/* Title`s */
.custom-hero--title.h2 {
  --custom-hero-title-font-size-base: 4.5rem;
}
.custom-hero--title.h3 {
  --custom-hero-title-font-size-base: 4rem;
}
.custom-hero--title.h4 {
  --custom-hero-title-font-size-base: 3.5rem;
}

/* Images */
.custom-hero--images-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  padding-left: 50px;
  max-width: 40%;
}
.custom-hero--images-wrap img{
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 100%;
}
.custom-hero--image_1{
  position: relative;
  margin-right: 75%;
  margin-bottom: -42%;
}
.custom-hero--image_2{
  position: relative;
}

@media (max-width: 990px) {
  .custom-hero {
    min-height: auto;
  }

  /* Title */
  .custom-hero--title {
    font-size: var(--custom-hero-title-font-size-base-md);
  }

  /* Title`s */
  .custom-hero--title.h2 {
    --custom-hero-title-font-size-base: 4rem;
  }
  .custom-hero--title.h3 {
    --custom-hero-title-font-size-base: 3.5rem;
  }
  .custom-hero--title.h4 {
    --custom-hero-title-font-size-base: 3rem;
  }

  .custom-hero--images-wrap{
    padding-top: 0;
  }
}

@media (max-width: 750px) {
  /* Title */
  .custom-hero--title {
    font-size: var(--custom-hero-title-font-size-base-sm);
  }

  /* Title`s */
  .custom-hero--title.h2 {
    --custom-hero-title-font-size-base: 3.5rem;
  }
  .custom-hero--title.h3 {
    --custom-hero-title-font-size-base: 3rem;
  }
  .custom-hero--title.h4 {
    --custom-hero-title-font-size-base: 2.5rem;
  }

  .custom-hero--content-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
  }

  .custom-hero--text-wrap{
    align-items: center;
    text-align: center;
    max-width: none;
    width: 100%;
    padding: 30px;
    margin-top: 40vh;

  }

  .custom-hero--images-wrap{
    min-width: auto;
    max-width: none;
  }

  .custom-hero--images-wrap img{
    max-height: 220px;
  }

}
