:root {
  --custom-about-us-height-small: 400px;
  --custom-about-us-height-medium: 500px;
  --custom-about-us-height-large: 700px;
  --custom-about-us-text-font-size-base: 2rem;
  --custom-about-us-text-color: #6B69AE;
  --custom-about-us-text-bg: #FCFAFF;
}

.custom-about-us {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
  min-height: var(--custom-about-us-height-small);
  position: relative;
  background-position-y: 0;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 0 140px 100px 0;
}

.custom-about-us-height--small {
  min-height: var(--custom-about-us-height-small);
}
.custom-about-us-height--medium {
  min-height: var(--custom-about-us-height-medium);
}
.custom-about-us-height--large {
  min-height: var(--custom-about-us-height-large);
}

/* Offsets */
.custom-about-us.margin-top--default {
  margin-block-start: var(--section-margin-block-start);
}
.custom-about-us.margin-top--middle {
  margin-block-start: var(--section-margin-block-start-middle);
}
.custom-about-us.margin-top--big {
  margin-block-start: var(--section-margin-block-start-big);
}
.custom-about-us.margin-bottom--default {
  margin-block-end: var(--section-margin-block-end);
}
.custom-about-us.margin-bottom--middle {
  margin-block-end: var(--section-margin-block-end-middle);
}
.custom-about-us.margin-bottom--big {
  margin-block-end: var(--section-margin-block-end-big);
}

/* Text */
.custom-about-us--text-wrap{
  border-radius: 50%;
  flex: 1;
  min-width: fit-content;
  max-width: 30%;
  margin-top: -130px;
  background-color: var(--custom-about-us-text-bg);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
}
.custom-about-us--text {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  color: var(--custom-about-us-text-color);
  font-size: calc(var(--custom-about-us-text-font-size-base) + 1vw);
  line-height: calc(var(--custom-about-us-text-font-size-base) + 1.6vw);
  margin: 0;
  padding: 20px 0;
}
/* Text`s */
.custom-about-us--text.large {
  --custom-about-us-text-font-size-base: 2.5rem;
}
.custom-about-us--text.medium {
  --custom-about-us-text-font-size-base: 2rem;
}
.custom-about-us--text.small {
  --custom-about-us-text-font-size-base: 1.5rem;
}

.custom-about-us--img-wrap{
  margin-top: -80px;
  width: 50%;
}
.custom-about-us--img{
  width: 100%;
  height: 100%;
}

@media (max-width: 1560px) {
  .custom-about-us {
    gap: 50px;
    padding: 0 40px 100px 0;
  }

  .custom-about-us--text-wrap{
    margin-top: -90px;
    padding: 90px;
  }
  .custom-about-us--text {
    font-size: calc(var(--custom-about-us-text-font-size-base) + .7vw);
    line-height: calc(var(--custom-about-us-text-font-size-base) + 1.3vw);
  }
}
@media (max-width: 1170px) {  
  
  .custom-about-us {
    gap: 50px;
    padding: 0 40px 0 0;
    align-items: stretch;
    overflow: hidden;
    overflow-y: auto;
  }

  .custom-about-us--img-wrap{
    display: flex;
    margin-top: 0;
    min-width: 60%;
  }

  .custom-about-us--text-wrap{
    position: relative;
    margin-left: -15%;
    align-self: center;
    margin-top: 0;
    padding: 70px;
  }
  .custom-about-us--text {
    font-size: calc(var(--custom-about-us-text-font-size-base) + .6vw);
    line-height: calc(var(--custom-about-us-text-font-size-base) + 1.3vw);
  }

  /* Text`s */
  .custom-about-us--text.large {
    --custom-about-us-text-font-size-base: 2.3rem;
  }
  .custom-about-us--text.medium {
    --custom-about-us-text-font-size-base: 1.8rem;
  }
  .custom-about-us--text.small {
    --custom-about-us-text-font-size-base: 1.4rem;
  }
}

@media (max-width: 768px) {
  .custom-about-us {
    flex-direction: column;
    overflow: visible;
    align-items: center;
  }
  .custom-about-us {
    gap: 0;
    padding: 0 0 40px 0;
  }

  .custom-about-us--img-wrap{
    box-shadow: 0 0 25px -10px var(--custom-about-us-text-bg);
    margin-top: -40px;
    width: 90%;
    z-index: 1;
  }
  
  .custom-about-us--text-wrap{
    position: relative;
    margin-left: 0;
    margin-top: -40px;
    padding: 50px;
    z-index: 0;
    /* transform: scale(1.2); */
  }
  .custom-about-us--text {
    font-size: calc(var(--custom-about-us-text-font-size-base) + 1vw);
    line-height: calc(var(--custom-about-us-text-font-size-base) + 1.3vw);
  }

   /* Text`s */
   .custom-about-us--text.large {
    --custom-about-us-text-font-size-base: 2.1rem;
  }
  .custom-about-us--text.medium {
    --custom-about-us-text-font-size-base: 1.6rem;
  }
  .custom-about-us--text.small {
    --custom-about-us-text-font-size-base: 1.3rem;
  }
}
