:root {
  --custom-image-column-title-font-size: 30px;
}

/* .custom-image-column{} */
.custom-image-column-wrap{
  max-width: 1140px;
  /* top & bottom - dynamic */
  margin-left: auto;
  margin-right: auto;
}
.custom-image-column--title{
  color: #066cb4;
  text-align: center;
  font-size: var(--custom-image-column-title-font-size);
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;

}
.custom-image-column--description{
  color: #444;
}
.custom-image-column--description.default{
  font-size: 16px;
  line-height: 24px;
}
.custom-image-column--description.middle{
  font-size: 20px;
  line-height: 30px;
}

/* Offsets */
.custom-image-column.margin-top--default {
  margin-block-start: var(--section-margin-block-start);
}
.custom-image-column.margin-top--middle {
  margin-block-start: var(--section-margin-block-start-middle);
}
.custom-image-column.margin-top--big {
  margin-block-start: var(--section-margin-block-start-big);
}
.custom-image-column.margin-bottom--default {
  margin-block-end: var(--section-margin-block-end);
}
.custom-image-column.margin-bottom--middle {
  margin-block-end: var(--section-margin-block-end-middle);
}
.custom-image-column.margin-bottom--big {
  margin-block-end: var(--section-margin-block-end-big);
}

.custom-image-column.padding-top--default {
  padding-top: calc(var(--section-margin-block-start) / 2);
}
.custom-image-column.padding-top--middle {
  padding-top: calc(var(--section-margin-block-start-middle) / 2);
}
.custom-image-column.padding-top--big {
  padding-top: calc(var(--section-margin-block-start-big) / 2);
}
.custom-image-column.padding-bottom--default {
  padding-bottom: calc(var(--section-margin-block-end) / 2);
}
.custom-image-column.padding-bottom--middle {
  padding-bottom: calc(var(--section-margin-block-end-middle) / 2);
}
.custom-image-column.padding-bottom--big {
  padding-bottom: calc(var(--section-margin-block-end-big) / 2);
}

.custom-image-column--blocks{
  display: flex;
  gap: 30px;
}
.custom-image-column--block-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}
.custom-image-column--block-title{
  text-align: center;
}
.custom-image-column--block-image-wrap{
  display: flex;
  width: 100%;
}
.custom-image-column--block-graph-wrap{
  position: relative;
  display: flex;
  align-items: center;
}
.custom-image-column--block-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 450px;
}
.custom-image-column--block-img.has-graph-values{
  max-width: 355px;
}

.custom-image-column--block-graph{
  width: 100%;
}
.custom-image-column--block-graph-caption{
  color: #9f9f9e;
  font-size: 14px;
  font-weight: 600;
  padding-left: 40px;
  position: relative;
  top: -30px;
}
.custom-image-column--block-graph-values{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.custom-image-column--block-graph-value{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #9f9f9e;
}
.custom-image-column--block-graph-mark{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-clear);
}

@media (max-width: 990px) {
  .custom-image-column--block-img.has-graph-values{
    max-width: 80%;
  }
  .custom-image-column--block-img{
    max-height: 450px;
  }
  .custom-image-column--block-graph-values{
    max-width: 30%;
    gap: 10px;
  }
  .custom-image-column--block-graph-value{
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 750px) {
  .custom-image-column--block-graph{
    max-width: 500px;
    margin: 0 auto;
  }
  .custom-image-column--blocks{
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 10px;
  }
  .custom-image-column--block-image{
    flex-basis: 100%;
  }
}
@media (max-width: 500px) {
  :root {
    --custom-image-column-title-font-size: 28px;
  }
  .custom-image-column--block-img.has-graph-values{
    max-width: 70%;
  }
  .custom-image-column--block-graph-values{
    max-width: 35%;
  }
  .custom-image-column--block-graph-caption{
    margin-top: 10px;
    padding-left: 8%;
  }
}