:root {
  --custom-about-us-height-small: 400px;
  --custom-about-us-height-medium: 500px;
  --custom-about-us-height-large: 700px;
  --custom-about-us-text-font-size-base: 2rem;
  --custom-about-us-text-color: #6B69AE;
  --custom-about-us-text-bg: #FCFAFF;
}

.custom-about-us {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: var(--custom-about-us-height-small);
  position: relative;
  background-position-y: 0;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 0 140px 60px 0;
}

.custom-about-us-height--small {
  min-height: var(--custom-about-us-height-small);
}
.custom-about-us-height--medium {
  min-height: var(--custom-about-us-height-medium);
}
.custom-about-us-height--large {
  min-height: var(--custom-about-us-height-large);
}

/* Offsets */
.custom-about-us.margin-top--default {
  margin-block-start: var(--section-margin-block-start);
}
.custom-about-us.margin-top--middle {
  margin-block-start: var(--section-margin-block-start-middle);
}
.custom-about-us.margin-top--big {
  margin-block-start: var(--section-margin-block-start-big);
}
.custom-about-us.margin-bottom--default {
  margin-block-end: var(--section-margin-block-end);
}
.custom-about-us.margin-bottom--middle {
  margin-block-end: var(--section-margin-block-end-middle);
}
.custom-about-us.margin-bottom--big {
  margin-block-end: var(--section-margin-block-end-big);
}

/* Text */
.custom-about-us--text-wrap{
  border-radius: 50%;
  flex: 1;
  max-width: fit-content;
  margin-top: -130px;
  background-color: var(--custom-about-us-text-bg);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px 70px;
}
.custom-about-us--text {
  color: var(--custom-about-us-text-color);
  font-size: calc(var(--custom-about-us-text-font-size-base) + 1vmin);
  margin: 0;
  padding: 30px 0;
  /* max-width: 450px; */
}
/* Text`s */
.custom-about-us--text.large {
  --custom-about-us-text-font-size-base: 2.5rem;
}
.custom-about-us--text.medium {
  --custom-about-us-text-font-size-base: 2rem;
}
.custom-about-us--text.small {
  --custom-about-us-text-font-size-base: 1.5rem;
}

.custom-about-us--img-wrap{
  margin-top: -80px;
  width: 50%;
}
.custom-about-us--img{
  width: 100%;
  height: 100%;
}

@media (max-width: 990px) {
  .custom-about-us {
    padding: 40px;
  }

  /* Text`s */
  .custom-about-us--text.large {
    --custom-about-us-text-font-size-base: 2.3rem;
  }
  .custom-about-us--text.medium {
    --custom-about-us-text-font-size-base: 1.8rem;
  }
  .custom-about-us--text.small {
    --custom-about-us-text-font-size-base: 1.4rem;
  }
}

@media (max-width: 750px) {
  .custom-about-us {
    padding: 40px 20px;
  }

   /* Text`s */
   .custom-about-us--text.large {
    --custom-about-us-text-font-size-base: 2.1rem;
  }
  .custom-about-us--text.medium {
    --custom-about-us-text-font-size-base: 1.6rem;
  }
  .custom-about-us--text.small {
    --custom-about-us-text-font-size-base: 1.3rem;
  }
}
