:root {
  --banner-image-height-small: 300px;
  --banner-image-height-medium: 400px;
  --banner-image-height-large: 600px;
  --banner-image-title-font-size-base: 7rem;
}

.custom-image-column{
  max-width: 1140px;
  /* top & bottom - dynamic */
  margin-left: auto;
  margin-right: auto;
}
.custom-image-column--title{
  color: #066cb4;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;

}
.custom-image-column--description{
  /*  */
}
.custom-image-column--blocks{
  display: flex;
  gap: 50px;
}
.custom-image-column--block-image{
  /*  */
}
.custom-image-column--block-title{
  text-align: center;
}
.custom-image-column--block-image-wrap{
  /*  */
}
.custom-image-column--block-graph-wrap{
  display: flex;
  align-items: center;
}
.custom-image-column--block-img{
  max-width: 355px;
  height: auto;
}

.custom-image-column--block-graph{
  /*  */
}
.custom-image-column--block-graph-caption{
  /*  */
}
.custom-image-column--block-graph-values{
  /*  */
}
.custom-image-column--block-graph-value{
  /*  */
}
.custom-image-column--block-graph-mark{
  /*  */
}
.custom-image-column--block-graph-value{
  /*  */
}
