:root{
  --pms-calendar-pink-600: #cd007b;
  --pms-calendar-pink-500: #ed7aae;
  --pms-calendar-pink-450: #ff7ab0;
  --pms-calendar-pink-400: #ffa3cc;
  --pms-calendar-gray-600: #666666;
  --pms-calendar-gray-500: #707070;
}

.pms-calendar .wp-block-group__inner-container{
  max-width: 630px;
}
.pms-calendar .wp-block-group__inner-container .wp-block-group__inner-container{
  width: 100%;
}
.pms-calendar .wp-block-columns{
  display: flex;
  gap: 20px;
}
.pms-calendar .wp-block-column{
  flex: 1;
}

.pms-calendar .filter-block {
  padding-bottom: 0;
}
.pms-calendar .col-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
.pms-calendar .col-4 p {
  color: var(--color-primary);
  /* font-size: 1.1rem; */
  font-size: 14px;
  font-weight: 400;
  margin-top: auto;
}
@media screen and (max-width: 992px) {
  .pms-calendar .wp-block-columns{
    flex-direction: column;
    gap: 10px;
  }
  .pms-calendar .col-4 p {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }
}
.pms-calendar.wp-block-group {
  padding-bottom: 1rem;
}
.pms-calendar .tooltip-inner {
  background-color: var(--color-secendary-450);
  color: red !important;
}

.pms-calendar {
  align-items: center;
  /* background: #fae3ed; */
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-left: 45px;
  padding-right: 45px;
}
@media screen and (max-width: 576px) {
  .pms-calendar {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.pms-calendar .filter-block {
  padding-bottom: 0;
}
.pms-calendar .col-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .pms-calendar .col-4 p {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
  }
}
.pms-calendar.wp-block-group {
  padding-bottom: 1rem;
}
.pms-calendar .tooltip-inner {
  background-color: var(--color-purple);
}
.settings-pad > div input {
  background-color: var(--color-clear) !important;
}
.settings-pad > div > input,
.settings-pad > div > select {
  border: 2px solid #bfbfbf;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  height: 40px;
  max-height: 40px;
  padding: 1px 10px;
  width: 100%;
}
.btn,
button,
button:active,
button:focus {
  outline: none !important;
  border: 2px solid var(--pms-calendar-pink-500);
  border-radius: 10px;
}
#calendar-calculate {
  background: var(--pms-calendar-pink-500);
  color: var(--color-clear);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 165px;
}
#calendar-calculate:hover {
  background: var(--color-clear);
  color: var(--pms-calendar-pink-500);
  cursor: pointer;
}
#selected-month {
  color: var(--pms-calendar-gray-500);
}
.filter-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.calendar-navigation {
  font-size: 23px;
  font-weight: 700;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navigation-arrow {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.2s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.navigation-arrow:hover {
  color: var(--pms-calendar-pink-500);
}
.date-day {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-right: 2px;
  padding-top: 4px;
  text-align: right;
}
@media screen and (max-width: 576px) {
  .date-day {
    padding-top: 0;
  }
}
.pms-day {
  font-size: 10px;
  font-weight: 600;
  margin-left: 2px;
  text-align: left;
}
.stub {
  visibility: hidden;
}
.pms-day {
  color: var(--pms-calendar-pink-600);
}
.calendar-day {
  background: var(--color-clear);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid var(--pms-calendar-pink-450);
  border-radius: 10px;
  height: 66px;
  justify-content: flex-start !important;
  width: 60px;
  position: relative;
}
.calendar-day::before{
  content: attr(data-title);
  position: absolute;
  bottom: 108%;
  white-space: nowrap;
  background-color: var(--pms-calendar-gray-600);
  color: var(--color-clear);
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 12px;
  max-height: 0;
  transition: .3s;
  z-index: 1;
  border-radius: 6px;
  display: none;
}
.calendar-day:hover::before{
  display: inline-block;
  animation: calendarTooltip .3s linear forwards;
}

@keyframes calendarTooltip {
  0%{
    opacity: 0;
    max-height: 0;
  }  
  100%{
    opacity: 1;
    max-height: 25px;
  }  
}

.calendar-day.mid {
  background-color: var(--pms-calendar-pink-400);
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/high_chance_white_circle.svg?v=1730797185);
  background-size: 70%;
}
.calendar-day.first {
  position: relative;
}
.calendar-day.first:after {
  background: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/check_sign.svg?v=1730797387) no-repeat 50%;
  background-size: contain;
  content: "";
  display: block;
  height: 90%;
  left: 0;
  position: absolute;
  top: -20px;
  width: 90%;
}
.calendar-day.high {
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/low_chance_pink_circle.svg?v=1730797570);
  background-size: 70%;
}
.calendar-day.ovul {
  background-color: var(--pms-calendar-pink-450);
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/ovulation.svg?v=1730797480);
  background-position: 50%;
  background-size: 30px 30px;
}
/* .calendar-back {
  background-image: url(https://miofolic.com/wp-content/uploads/2018/11/miofolic-woman-transparent-desktop.png);
  background-position: 50%;
  background-size: cover;
} */
.settings-pad {
  display: flex;
  flex-direction: row;
}
#calendar,
.calendar-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 665px;
}
#calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* maw */
  /* text-align: center; */
}
#calendar .calendar-day {
  display: inline-block;
}
.calendar-navigation {
  align-items: center;
  margin-top: 20px;
}
#calendar > div:not(.tooltip) {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  width: 60px;
}

#calendar > div > div:not(.tooltip-arrow) {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between !important;
  width: 100%;
}
.calendar-desc-img {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1rem;
}
.calendar-desc-img .row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.calendar-desc-img .row > div {
  flex: 100%;
  max-width: 45%;
  font-size: 17px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-top: 20px;
  position: relative;
}
.calendar-desc-img .row > div:before {
  background-color: var(--color-clear);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 6px;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}
.calendar-desc-img .row > div:first-child:before {
  background-size: 90%;
}
.calendar-desc-img .row > div:first-child:after {
  background: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/check_sign.svg?v=1730797387) no-repeat 50%;
  background-size: contain;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.calendar-desc-img .row > div:nth-child(2):before {
  background-color: var(--pms-calendar-pink-450);
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/ovulation.svg?v=1730797480);
  background-position: 50%;
  background-size: 30px 30px;
}
.calendar-desc-img .row > div:nth-child(3):before {
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/low_chance_pink_circle.svg?v=1730797570);
  background-size: 70%;
}
.calendar-desc-img .row > div:nth-child(4):before {
  background-color: var(--pms-calendar-pink-400);
  background-image: url(https://cdn.shopify.com/s/files/1/0797/0003/3870/files/high_chance_white_circle.svg?v=1730797185);
  background-size: 70%;
}

@media screen and (max-width: 576px) {
  #calendar > div:not(.tooltip) {
    padding: 1px;
  }
  .calendar-desc-img .row > div {
    max-width: 100%;
  }
}