:root {
  --custom-product-hero-2-height-small: 300px;
  --custom-product-hero-2-height-medium: 400px;
  --custom-product-hero-2-height-large: 600px;
  --custom-product-hero-2-title-font-size-base: 5.5rem;
  --custom-product-hero-2-title-font-size-base-md: 5rem;
  --custom-product-hero-2-title-font-size-base-sm: 4rem;
  --custom-product-hero-2-color-blue-text: #015AA6;
}

.custom-product-hero-2 {
  min-height: var(--custom-product-hero-2-height-small);
  position: relative;
}
.custom-product-hero-2 .page-width{
  padding: 0;
}

.custom-product-hero-2-height--small {
  min-height: var(--custom-product-hero-2-height-small);
}
.custom-product-hero-2-height--medium {
  min-height: var(--custom-product-hero-2-height-medium);
}
.custom-product-hero-2-height--large {
  min-height: var(--custom-product-hero-2-height-large);
}

/* Offsets */
.custom-product-hero-2.margin-top--default {
  margin-block-start: var(--section-margin-block-start);
}
.custom-product-hero-2.margin-top--middle {
  margin-block-start: var(--section-margin-block-start-middle);
}
.custom-product-hero-2.margin-top--big {
  margin-block-start: var(--section-margin-block-start-big);
}
.custom-product-hero-2.margin-bottom--default {
  margin-block-end: var(--section-margin-block-end);
}
.custom-product-hero-2.margin-bottom--middle {
  margin-block-end: var(--section-margin-block-end-middle);
}
.custom-product-hero-2.margin-bottom--big {
  margin-block-end: var(--section-margin-block-end-big);
}

/* Content */
.custom-product-hero-2--content-top-wrap{
  padding: 28px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-product-hero-2--content-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.custom-product-hero-2--top-title {
  color: var(--color-clear);
  font-size: 50px;
}
.custom-product-hero-2--top-subtitle {
  color: var(--color-clear);
  font-size: 35px;
  margin-top: 0;
}

/* Img Product */
.custom-product-hero-2--product-img{
  display: flex;
  justify-content: end;
  max-width: 350px;
}
.custom-product-hero-2--product-img img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* Title */
.custom-product-hero-2--title {
  width: auto;
  color: var(--color-grey-dark);
  font-size: var(--custom-product-hero-2-title-font-size-base);
  margin: 0;
  color: var(--custom-product-hero-2-color-blue-text);
  text-align: center;
}
.custom-product-hero-2--title *{
  margin: 0;
  padding: 0;
  color: inherit;
}
.custom-product-hero-2--title.h1,
.custom-product-hero-2--title.h2,
.custom-product-hero-2--title.h3,
.custom-product-hero-2--title.h4,
.custom-product-hero-2--title.h5,
.custom-product-hero-2--title.h6 {
  font-family: serif;
  line-height: 100%;
}
/* Title`s */
.custom-product-hero-2--title.h2 {
  --custom-product-hero-2-title-font-size-base: 5rem;
}
.custom-product-hero-2--title.h3 {
  --custom-product-hero-2-title-font-size-base: 4.7rem;
}
.custom-product-hero-2--title.h4 {
  --custom-product-hero-2-title-font-size-base: 4.4rem;
}

.custom-product-hero-2--button{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.custom-product-hero-2--footer{
  background-color: var(--color-clear);
  padding: 30px 0;
}
.custom-product-hero-2--footer .page-width{
  padding: 0 20px;
}
.custom-product-hero-2--text{
  padding: 10px 20px;
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  color: var(--color-clear);
  border-radius: 35px;
}

@media (max-width: 1199px) {
  .custom-product-hero-2 {
    min-height: auto;
  }

  /* Title */
  .custom-product-hero-2--title {
    font-size: var(--custom-product-hero-2-title-font-size-base-md);
  }

  /* Title`s */
  .custom-product-hero-2--title.h2 {
    --custom-product-hero-2-title-font-size-base: 4.7rem;
  }
  .custom-product-hero-2--title.h3 {
    --custom-product-hero-2-title-font-size-base: 4.4rem;
  }
  .custom-product-hero-2--title.h4 {
    --custom-product-hero-2-title-font-size-base: 4.1rem;
  }

}

@media (max-width: 990px) {

  .custom-product-hero-2--content-bottom-wrap{
    justify-content: space-around;
  }

  .custom-product-hero-2--top-title{
    text-align: center;
    font-size: 40px;
  }
  .custom-product-hero-2--top-subtitle{
    text-align: center;
    display: block;
    font-size: 28px;
  }

  .custom-product-hero-2--product-img{
    width: 100%;
    max-width: 250px;
  }

  /* Title */
  .custom-product-hero-2--title {
    font-size: var(--custom-product-hero-2-title-font-size-base-md);
  }

  /* Title`s */
  .custom-product-hero-2--title.h2 {
    --custom-product-hero-2-title-font-size-base: 4.4rem;
  }
  .custom-product-hero-2--title.h3 {
    --custom-product-hero-2-title-font-size-base: 4.1rem;
  }
  .custom-product-hero-2--title.h4 {
    --custom-product-hero-2-title-font-size-base: 3.8rem;
  }

}

@media (max-width: 750px) {

  /* Title */
  .custom-product-hero-2--title {
    font-size: var(--custom-product-hero-2-title-font-size-base-sm);
  }

  /* Title`s */
  .custom-product-hero-2--title.h2 {
    --custom-product-hero-2-title-font-size-base: 4.1rem;
  }
  .custom-product-hero-2--title.h3 {
    --custom-product-hero-2-title-font-size-base: 3.8rem;
  }
  .custom-product-hero-2--title.h4 {
    --custom-product-hero-2-title-font-size-base: 3.5rem;
  }

}


@media (max-width: 650px) {
  .custom-product-hero-2--content-bottom-wrap{
    flex-wrap: wrap-reverse;
  }
  
  .custom-product-hero-2--right-col{
    width: 100%;
  }

  .custom-product-hero-2--top-subtitle{
    font-size: 20px;
  }
}